
{% extends 'base.html' %}
{% load airlines_tags %}

  {% block content %}
  
  {% load static %}



    <!-- Tracking -->
  <section   class="banner py-5 ">

    <h2 class="mx-auto text-light px-5">Track & Retrieve your Passport</h2>
    <hr class="container-fluid">


    <div class="container  py-5 ">

            <div class="track  col-12 h-100 my-5  d-flex justify-content-center">
                <div class="box col-md-6">
                   
                    {% block track %}
                    {% include 'track_visa.html' %}
                    {% endblock track %}

                </div>
            </div>
            
          
        
     
            
        
       
        
    </div>

    
  </section>

 
  <!-- Our Service -->
  <section class="container my-5 py-5">
      <div>
          {% block our-service %}
       

          

          {% include 'our_service.html' %}
           
          


          {% endblock our-service %}
      </div>
  </section>

  <section>
    <section class="container">
              <div class="">
                {% block testimonial %}
                {% include 'testimonial.html' %}
                {% endblock testimonial %}
              </div>
              
            </section>

            {% render_airlines_section %}
  </section>
  

  




  {% endblock content %}